@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --okclh1: oklch(0.623 0.199 264.05);
  --okclh2: oklch(0.7 0.1 265);
  --okclh3: oklch(0.7 0.1 215);
  --max-width: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* TODO is there a better element to use than section for general container purposes that isn't container used throughout the app? */
section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-self: center;
  padding: 1rem;
  max-width: var(--max-width);
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
